div {
    background-color: lightgray;
}

input[type=text] {
    padding: 5px 10px;
    box-sizing: border-box;
  }

  input[type=email] {
    padding: 5px 10px;
    box-sizing: border-box;
  }

  select {
      padding: 5px 10px;
      box-sizing: border-box;
  }